<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>
        {% block title %}
            {{ config.title }}
        {% endblock title %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/style.css">
</head>

<body>

<header>
    <h1><a href="/">{{ config.title }}</a></h1>
    <p>{{ config.description }}</p>

    <hr>
</header>

<main>
{% block content %}
{% endblock content %}
</main>

<footer>
    <hr>
    <p>&copy; 2026</p>
</footer>

</body>
</html>