<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% block title %}
        {{ config.title }}
        {% endblock title %}
    </title>

    <link rel="stylesheet" href="{{ get_url(path='style.css') }}">

    {% if config.generate_feeds %}
    <link
        rel="alternate"
        type="application/atom+xml"
        title="{{ config.title }} Blog Feed"
        href="{{ get_url(path='blog/atom.xml') }}">
    {% endif %}

</head>

<body>

<header class="masthead">

    <div class="site-title">
        <a href="{{ get_url(path='') }}">
            {{ config.title }}
        </a>
    </div>


    {% if config.extra.tagline1 and config.extra.tagline2 %}
    <div class="tagline">
        {{ config.extra.tagline1 }}<br>
        {{ config.extra.tagline2 }}
    </div>
    {% endif %}


    <nav>
        <a href="{{ get_url(path='') }}">Home</a>
        <a href="{{ get_url(path='blog') }}">Blog</a>
        <a href="{{ get_url(path='about') }}">About</a>
        {% if config.generate_feeds %}
        <a href="{{ get_url(path='blog/atom.xml') }}">RSS</a>
        {% endif %}
    </nav>

</header>


<main>
{% block content %}
{% endblock content %}
</main>


<footer>
<p>
© {{ now() | date(format="%Y") }}
</p>
</footer>


</body>
</html>